
img{
  height: 200px;
}
.appear{
  visibility: visible;
}
.hidden{
  visibility: hidden;
}
.invis, #invisName, #invisSelect{
  visibility: hidden;
}

.evaporate{
  display: none;
}
.middle{
  text-align: center;
}